@font-face {
	font-family: 'Helveticaneuecyr-Light';
	src: url('../fonts/helveticaneuecyr-light.eot');
	src: local('☺'), 
	url('../fonts/helveticaneuecyr-light.woff') format('woff'), 
	url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), 
	url('../fonts/helveticaneuecyr-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Verdana-Regular';
	src: url('../fonts/Verdana-Regular.eot');
	src: local('☺'), 
	url('../fonts/Verdana-Regular.woff') format('woff'), 
	url('../fonts/Verdana-Regular.ttf') format('truetype'), 
	url('../fonts/Verdana-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Verdana-Italic';
	src: url('../fonts/Verdana-Italic.eot');
	src: local('☺'), 
	url('../fonts/Verdana-Italic.woff') format('woff'), 
	url('../fonts/Verdana-Italic.ttf') format('truetype'), 
	url('../fonts/Verdana-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}